<h2>Bienvenido al sistema de gestion de pasantia</h2>
<p>Bienvenido al sistema de gestion de pasantia en la ver o administrar las pasantias dentro de una instituci&oacute;n.</p>
<p>Tendra la opcion de gestionar las pasantias, empresas que pertenecen las pasantias, estudiantes que soliciten, carreras en las que apliquen las pasantias y las solicitudes que  realizen los estudiantes de ellas</p>
<p>Este sistema ha sido realizado como proyecto final de Programaci&oacute;n web a cargo del profesor <strong>Amadis Suarez</strong> dentro del Instituto Tecnol&oacute;gico Las Am&eacute;ricas (ITLA) 2011</p>
<p>Si tiene alguna sugerencia sobre este proyecto, nos puede dejar su <a href="suggestion.php">Sugerencias</a></p>
<h3>Integrantes</h3>
<ul>
    <li>Fernando Perez</li>
    <li>Jansel Valentin</li>
</ul>
