<?php /*TODO: arreglar los de las clases seleccionada de las opciones de menu*/ ?>
<div id="menubar">
    <ul id="menu">
        <li <?=strpos($_SERVER['PHP_SELF'],"index") ? "class=\"selected\"": ""?>><a href="./">Inicio</a></li>
        <li <?=strpos($_SERVER['PHP_SELF'],'internships.php') ? "class=\"selected\"": ""?>><a href="internships.php">Pasantias</a></li>
        <li <?=strpos($_SERVER['PHP_SELF'],'suggestions.php') ? "class=\"selected\"": ""?>><a href="suggestions.php">Sugerencias</a></li>
        <li <?=strpos($_SERVER['PHP_SELF'],'login.php') ? "class=\"selected\"": ""?>><a href="login.php">Login</a></li>
    </ul>
</div>