<div class="sidebar">
    <h3>Ofertas de pasantia</h3>
    <?php
    if (isset($arrInternships) && $arrInternships){
        $count = 0;
        foreach($arrInternships as $internship){
        ?>
        <h4><?=$internship['NOMBRE']?></h4>
        <?php
        if ($count++  == 2) break;
        }
        ?>
        <a href="internships.php">Ver todas las pasantias</a>
        <?php
    }else echo "No hay ofertas de pasantias";
    ?>
    <h3>Enlaces</h3>
    <ul>
        <li><a href="http://itla.edu.do">Instituto Tecnologico Las Americas (ITLA)</a></li>
        <li><a href="http://www.infotep.gov.do/">Instituto Nacional de Formación Técnico Profesional (INFOTEP)</a></li>
    </ul>
    <?php include("views/searchform.html"); ?>
</div>