<div class="sidebar">
    <!-- insert your sidebar items here -->
    <h3>Latest News</h3>
    <h4>New Website Launched</h4>
    <h5>January 1st, 2010</h5>
    <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
    <p></p>
    <h4>New Website Launched</h4>
    <h5>January 1st, 2010</h5>
    <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
    <h3>Enlaces</h3>
    <ul>
        <li><a href="http://itla.edu.do">Instituto Tecnologico Las Americas (ITLA)</a></li>
        <li><a href="http://www.infotep.gov.do/">Instituto Nacional de Formación Técnico Profesional (INFOTEP)</a></li>
    </ul>
    <?php include("views/searchform.html"); ?>
</div>