<div id="socialnetworks">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=256790604370070";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="gestionpasantia.webcindario.com" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
    
    <a href="http://gestionpasantia.webcindario.com" class="twitter-share-button" data-count="horizontal" data-lang="es">Twittear <?=__SITENAME__?></a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

    <!-- Place this tag where you want the +1 button to render -->
    <g:plusone size="tall" annotation="inline"></g:plusone>

    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
    window.___gcfg = {lang: 'es-419'};

    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    </script>
</div>